<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Bar</title>
	<link rel="stylesheet" href="">
</head>

<body>
<form class="example" method="post" action="">
    Enter your text: <input type="text" name="item" class="enter" value="" id="searchbox"/>
    <input type="submit" value="Submit" class="fa fa-search">
</form>
<p></p>
    <center>
        {% for item in data %}
            <tr>
				<form class="example" method="post" action="">
				<td> <a href={{item[0]}}>{{item[0]}}</a><input type="button" onclick="window.location.href = 'display?selecteditem={{item[0]}}'" value="Display"/></td>
				</form>
                </br>
            </tr>
        {% endfor %}
    </center>
    <table align="right">
        {% for item in data2 %}
            <tr>
				<form class="example" method="post" action="">
				<td> <a href={{item[0]}}>{{item[0]}}</a><input type="button" onclick="window.location.href = 'display2?selecteditem={{item[0]}}'" value="Display"/></td>
				</form>
                </br>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
