<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Bar</title>
	<link rel="stylesheet" href="">
</head>

<body>
<form class="example" method="post" action="">
    Enter your URL: <input type="text" name="item" class="enter" value="" id="searchbox"/>
    <input type="submit" value="Submit" class="fa fa-search">
</form>
<br>
{% for item in data %}
{{item[0]}}
{% endfor %}
</body>
</html>
